<!--
  Generated template for the AjoutAnnoncePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Nouveau Covoiturage</ion-title>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding class="getstart">

   <form (ngSubmit)="AjoutAnnonce()">

      
        <ion-item>
        <ion-label>Type*</ion-label>
        <ion-select [(ngModel)]="annonce.type" name="type">
        <ion-option value="Demande">Demande</ion-option>
        <ion-option value="Offre">Offre</ion-option>
        </ion-select>
        </ion-item>

<br>    
        <ion-item>
    <ion-datetime placeholder="yyyy/mm/dd" displayFormat="YYYY/MM/DD"  [(ngModel)]="annonce.datepublication" name="datepublication"><ion-icon name="calendar" large></ion-icon> </ion-datetime>
        </ion-item>
<br>
        <ion-item>
        <ion-label>Gouvernorat Départ*</ion-label>
        <ion-select [(ngModel)]="annonce.gouvernorat" name ="gouvernorat">
        <ion-option value="Tunis">Tunis</ion-option>
        <ion-option value="Sousse">Sousse</ion-option>
        <ion-option value="Sfax">Sfax</ion-option>
        <ion-option value="Nebeul">Nebeul</ion-option>
        <ion-option value="Bizerte">Bizerte</ion-option>
        <ion-option value="Kef">Kef</ion-option>
        <ion-option value="Zaghouan">Zaghouan</ion-option>
        <ion-option value="Gabes">Gabes</ion-option>
        <ion-option value="Medenin">Medenin</ion-option>
        <ion-option value="Sidi Bou Zid">Sidi Bou Zid</ion-option>
        <ion-option value="Siliana">Siliana</ion-option>
        <ion-option value="Mahdia">Mahdia"</ion-option>
        <ion-option value="Monastir">Monastir</ion-option>
        <ion-option value="Hammamet">Hammamet</ion-option>
        <ion-option value="Tabarka">Tabarka</ion-option>
        <ion-option value="Ain Drahem">Ain Drahem</ion-option>
        <ion-option value="Jendouba">Jendouba</ion-option>
        <ion-option value="Gafsa">Gafsa</ion-option>
        <ion-option value="Jersis">Jersis</ion-option>
        <ion-option value="Tataouine">Tataouine</ion-option>
        <ion-option value="Kasserine">Kasserine</ion-option>
        <ion-option value="Kairouan">Kairouan</ion-option>
        <ion-option value="Tozeur">Tozeur</ion-option>
        </ion-select>
        </ion-item>
<br>
        <ion-item>
        <ion-label>Gouvernorat Déstination*</ion-label>
        <ion-select [(ngModel)]="annonce.gouvernoratdest" name ="gouvernorat">
        <ion-option value="Tunis">Tunis</ion-option>
        <ion-option value="Sousse">Sousse</ion-option>
        <ion-option value="Sfax">Sfax</ion-option>
        <ion-option value="Nebeul">Nebeul</ion-option>
        <ion-option value="Bizerte">Bizerte</ion-option>
        <ion-option value="Kef">Kef</ion-option>
        <ion-option value="Zaghouan">Zaghouan</ion-option>
        <ion-option value="Gabes">Gabes</ion-option>
        <ion-option value="Medenin">Medenin</ion-option>
        <ion-option value="Sidi Bou Zid">Sidi Bou Zid</ion-option>
        <ion-option value="Siliana">Siliana</ion-option>
        <ion-option value="Mahdia">Mahdia</ion-option>
        <ion-option value="Monastir">Monastir</ion-option>
        <ion-option value="Hammamet">Hammamet</ion-option>
        <ion-option value="Tabarka">Tabarka</ion-option>
        <ion-option value="Ain Drahem">Ain Drahem</ion-option>
        <ion-option value="Jendouba">Jendouba</ion-option>
        <ion-option value="Gafsa">Gafsa</ion-option>
        <ion-option value="Jersis">Jersis</ion-option>
        <ion-option value="Tataouine">Tataouine</ion-option>
        <ion-option value="Kasserine">Kasserine</ion-option>
        <ion-option value="Kairouan">Kairouan</ion-option>
        <ion-option value="Tozeur">Tozeur</ion-option>
        <ion-option value="Ariana">Ariana</ion-option>
        <ion-option value="Kbeli">Kbeli</ion-option>
        </ion-select>
        </ion-item>
<br>

        <ion-item *ngIf="annonce.type=='Demande'">
        <ion-label>   <ion-icon name="navigate" color="primary"></ion-icon>
          Villes de passages ?*</ion-label>
            <ion-toggle [(ngModel)]="annonce.multiville" name="multiville"></ion-toggle>
        </ion-item>
<br>

        <ion-item *ngIf="annonce.type=='Demande'">
          <ion-input placeholder="Prix /DT*"  type="number" [(ngModel)]="annonce.prix" name="prix"></ion-input>
      </ion-item>
<br>
  
   <ion-label color="primary" (click)="Toogledetails()"><ion-icon name="create">   </ion-icon>  Détails ? </ion-label>

<br>



<ion-item *ngIf="details && annonce.type=='Demande'">
  <ion-label>   <ion-icon name="no-smoking" color="danger"></ion-icon>
Non-Fumeurs ?</ion-label>
      <ion-toggle [(ngModel)]="annonce.fumeur" name="fumeurs"></ion-toggle>
 </ion-item>

 <br>

 <ion-item *ngIf="details && annonce.type=='Demande'">
  <ion-label>   <ion-icon name="water" color="primary"></ion-icon>
Climatiseur ?</ion-label>
          <ion-toggle [(ngModel)]="annonce.clim" name="clim"></ion-toggle>
 </ion-item>

 <br>


 <ion-item *ngIf="details && annonce.type=='Demande'">
  <ion-label>    <ion-icon name="basket" color="secondary"></ion-icon>
Bagages ?</ion-label>
          <ion-toggle [(ngModel)]="annonce.bagage" name="bagage"></ion-toggle>
 </ion-item>

 <br>

       <ion-item *ngIf="details && annonce.type=='Demande'">
        <ion-input placeholder="Adresse Départ"  type="text" [(ngModel)]="annonce.depart" name="depart"></ion-input>
      </ion-item>
<br>
       <ion-item *ngIf="details && annonce.type=='Demande'">
        <ion-input placeholder="Adresse Destination"  type="text" [(ngModel)]="annonce.destination" name="destination"></ion-input>
      </ion-item>

<br>

       <ion-item *ngIf="details">
          <ion-textarea placeholder="Précisions exemple: une alérgie aux animaux"  type="text" [(ngModel)]="annonce.description" name="description"></ion-textarea>
       </ion-item>      
        <br>
         
<br>   


      <button ion-button type="submit" block>Ajouter</button>
    </form>

</ion-content>
